.usersPageWrapper {

}
.userProfileAvaPlusFollowButton{

}
.selectedPage{
    font-weight: bold;
}
.userProfileAvaPlusFollowButton img {
width:  3rem;
height: 3rem;
padding: 10px;
}

.description {

}

.placeOfResidence {

}


